<div id="modal1" class="modal">
        <div class="modal-content">

            

<div class="row">
<form class="col s12">  
            <div class="input-field col s12">
                <input disabled-value="Text" id="event-name" type="text" class="validate">
                <label for="disabled">Name of Event</label>
            </div>     
        </form>       
        </div>


<div class="row">
<form class="col s12">  
        <label for="disabled">Date of Event</label>   
    <input type="text" class="datepicker">
        </form>       
        </div>


            <div class="row">
                    
            <div class="input-field col s12" id="q1">
                <select>
                    <option value="" disabled selected>Select the Event</option>
                    <option value="1">Birthday</option>
                    <option value="2">Anniversary</option>
                    <option value="3">Work Party</option>
                    <option value="4">Baby Shower</option>
                    <option value="4">Show/Sport Watch Party</option>
                    <option value="5">Miscellaneous Party</option>
                </select>
                <label>Event Type</label>
            </div>
       
        </div>


            <div class="row">
                    <form class="col s12">
                <div class="input-field col s12">
                    <input disabled-value="Number" id="q2" type="text" class="validate">
                    <label for="disabled">Number of Attendees</label>
                </div>
            </form>
                </div>

                <div class="row">
                <div class="input-field col s12" id="q3">
                    <select>
                        <option value="" disabled selected>Time of Day</option>
                        <option value="1">Brunch/Breakfast</option>
                        <option value="2">Day Time</option>
                        <option value="3">Night Time</option>
                        <option value="4">After Hours</option>
                    </select>
                    <label>When time does the party begin?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12" id="q4">
                    <select>
                        <option value="" disabled selected>Attire Type</option>
                        <option value="1">Casual</option>
                        <option value="2">Semi-Formal</option>
                        <option value="3">Formal</option>
                        <option value="4">Costume/Themed</option>
                    </select>
                    <label>Dress/Clothing Type</label>
                </div>
            </div>


            <div class="row" id="q5">
                    <form action="#">
                        <p>Is this a themed party?</p>
                            <p>
                              <label>
                                <input name="group1" type="radio" checked />
                                <span value="1">No</span>
                              </label>
                            </p>
                            <p>
                              <label>
                                <input name="group2" type="radio" />
                                <span value="2">Yes</span>
                              </label>
                            </p>
                          </form>
    
                </div>

                <div class="row" id="q6">
                        <form action="#">
                            <p>Do you require food?</p>
                                <p>
                                  <label>
                                    <input name="group1" type="radio" checked />
                                    <span value="1">No</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input name="group2" type="radio" />
                                    <span value="2">Yes</span>
                                  </label>
                                </p>
                              </form>
        
                    </div>

                    <div class="row" id="q7">
                            <form action="#">
                                <p>Do you require decorations?</p>
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked />
                                        <span value="1">No</span>
                                      </label>
                                    </p>
                                    <p>
                                      <label>
                                        <input name="group2" type="radio" />
                                        <span value="2">Yes</span>
                                      </label>
                                    </p>
                                  </form>
            
                        </div>

                        <div class="row" id="q8">
                                <form action="#">
                                    <p>Do you require cake/dessert?</p>
                                        <p>
                                          <label>
                                            <input name="group1" type="radio" checked />
                                            <span value="1">No</span>
                                          </label>
                                        </p>
                                        <p>
                                          <label>
                                            <input name="group2" type="radio" />
                                            <span value="2">Yes</span>
                                          </label>
                                        </p>
                                      </form>
                
                            </div>

         

            <div class="row" id="q9">
                <form action="#">
                    <label>Alcohol/Beverages (Select All That Apply)</label>
                    <p>
                        <label>
                            <input type="checkboxBeer" />
                            <span value="1">Beer</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkboxWine" />
                            <span value="2">Wine</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkboxTequila" />
                            <span value="3">Tequila</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkboxRum" />
                            <span value="4">Rum</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkboxVodka" />
                            <span value="5">Vodka</span>
                        </label>
                    </p>
                    <div class="input-field col s12">
                        <input disabled-value="beverage1" id="additional-beverage1" type="text" class="validate">
                        <label for="disabled">Other #1</label>
                    </div>
                    <div class="input-field col s12">
                        <input disabled-value="beverage2" id="additional-beverage2" type="text" class="validate">
                        <label for="disabled">Other #2</label>
                    </div>
                    <div class="input-field col s12">
                        <input disabled-value="beverage3" id="additional-beverage3" type="text" class="validate">
                        <label for="disabled">Other #3</label>
                    </div>
                    <div class="input-field col s12">
                        <input disabled-value="beverage4" id="additional-beverage4" type="text" class="validate">
                        <label for="disabled">Other #5</label>
                    </div>
                    <div class="input-field col s12">
                        <input disabled-value="beverage5" id="additional-beverage5" type="text" class="validate">
                        <label for="disabled">Other #5</label>
                    </div>
                </form>
            
            </div>

            <a class="waves-effect waves-light btn-large">Submit</a>

        
            </div>
        </div>
            

