<div id="modal1" class="modal">
  <div class="modal-content">



    <div class="row">
      <form class="col s12">
        <div class="input-field col s12">
          <input disabled-value="Text" id="event-name" type="text" class="validate">
          <label for="disabled">Name of Event</label>
        </div>
      </form>
    </div>


    <div class="row">
      <form class="col s12">
        <label for="disabled">Date of Event</label>
        <input type="text" class="datepicker" id="date">
      </form>
    </div>


    <div class="row">

      <div class="input-field col s12" id="q1">
        <select>
          <option value="" disabled selected>Select the Event</option>
          <option value="1">Birthday</option>
          <option value="2">Anniversary</option>
          <option value="3">Work Party</option>
        </select>
        <label>Event Type</label>
      </div>

    </div>


    <div class="row">
      <form class="col s12">
        <div class="input-field col s12">
          <input disabled-value="Number" id="q2" type="text" class="validate">
          <label for="disabled">Number of Attendees</label>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="input-field col s12" id="q3">
        <select>
          <option value="" disabled selected>Time of Day</option>
          <option value="1">Brunch/Breakfast</option>
          <option value="2">Day Time</option>
          <option value="3">Night Time</option>
          <option value="4">After Hours</option>
        </select>
        <label>When time does the party begin?</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12" id="q4">
        <select>
          <option value="" disabled selected>Attire Type</option>
          <option value="1">Casual</option>
          <option value="2">Semi-Formal</option>
          <option value="3">Formal</option>
          <option value="4">Costume/Themed</option>
        </select>
        <label>Dress/Clothing Type</label>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12" id="q5">
        <select>
          <option value="" disabled selected>Is this a themed party?</option>
          <option value="1">No</option>
          <option value="2">Yes</option>
        </select>
        <label>Themed - Yes/No</label>
      </div>

    </div>

    <div class="row">
      <div class="input-field col s12" id="q6">
        <select>
          <option value="" disabled selected>Do you require food?</option>
          <option value="1">No</option>
          <option value="2">Yes</option>
        </select>
        <label>Food Required? - Yes/No</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12" id="q7">
        <select>
          <option value="" disabled selected>Do you require decorations?</option>
          <option value="1">No</option>
          <option value="2">Yes</option>
        </select>
        <label>Decorations? - Yes/No</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12" id="q8">
        <select>
          <option value="" disabled selected>Do you need cake/dessert?</option>
          <option value="1">No</option>
          <option value="2">Yes</option>
        </select>
        <label>Cake/Dessert? - Yes/No</label>
      </div>
    </div>



    <div class="row">
       <div class="input-field col s12" id="q9">
        <select>
          <option value="" disabled selected>Do you need alcohol?</option>
          <option value="1">No</option>
          <option value="2">Yes</option>
        </select>
        <label>Alochol? - Yes/No</label>
      </div>

    </div>

    <a class="waves-effect waves-light btn-large">Submit</a>


  </div>
</div>