<div class="valign-wrapper row signup-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form>
            <div class="card-content">
                <span class="card-title center">Sign Up</span>

                <div class="row">

                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="user_name" type="text" class="validate">
                    <label for="user_name" class="center-align">Username</label>
                </div>  
                
                <div class="input-field col s12">
                    <i class="material-icons prefix">mail</i>
                    <input id="user_email" type="email" class="validate">
                    <label for="user_email" class="center-align">Email</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="user_passw" type="password" class="validate">
                    <label for="user_passw">Password</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="confirm_pass" type="password">
                    <label for="confirm_pass">Confirm password</label>
                </div>

                </div>
            </div>

            <div class="card-action center-align">
                <div class="input-field col s10 center-align">
                    <a href="login.html" class="btn waves-effect waves-light col s12 center">Start Planning</a>
                </div>
                
                <div class="input-field col s10 center-align">
                    <p class="margin center medium-small sign-up">Already have an account? <a href="#">Log in here!</a></p>
                </div>               
            </div>
        </form>
    </div>
</div>
