<!DOCTYPE html>
<html lang="en">
<head>
    <title>EventPRO</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A planning app, users can log in and start creating and managing events and keep track of their to-do's as well as see their past events.">
    <meta name="keywords" content="events, event, party, event-planning, party-planning, time-management, to-do's">

	<!-- favicon links for various display types -->
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

	<!-- link to google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

    <!-- Compiled and minified CSS and links for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- link to our sylesheet -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	<!-- link to jQuery library -->
	<script src="https://code.jquery.com/jquery.js"></script>
    <!-- Compiled and minified JavaScript for Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{!-- link to our script --}}
   <!-- CDN to Sortable -->
    <script src="http://SortableJS.github.io/Sortable/Sortable.js"></script>
    <script src="/assets/js/init.js"></script>
	</body>
</html>