<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event PRO</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- favicon links for various display types -->
	

	<!-- link to google fonts -->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- link to our sylesheet -->
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />

	</head>
	<body>
		{{{ body }}}
	<!-- link to jQuery library -->
	<script src="https://code.jquery.com/jquery.js"></script>
    <!-- Compiled and minified JavaScript for Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{!-- link to our script --}}
    
	</body>
</html>