<nav>
  <div class="nav-wrapper  teal darken-4">
    <div id="mySidenav" class="eventSidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <img id="koala"
        src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA5OS83MTYvb3JpZ2luYWwva29hbGFzLXdpdGgtY2hsYW15ZGlhLmpwZw==">
      <p class="center">You have been logged in!</p>
      <a href="#" id="viewCurrentEvents">Current Events</a>
      <a href="#" id="viewPastEvents" >Past Events</a>
      <a class="modal-trigger" href="#modal1">Create Event</a>
      <a href="#">Team</a>
    </div>

    <span class="shadow" id="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
    <a href="#" class="brand-logo center shadow">Event Pro</a>
    <a href="/logout" id="logout" class="right shadow">Log out</a>
  </div>
</nav>

<div class="row">
  <div class="col s12 m6 offset-m6 l4 offset-l2">
  </div>
</div>

<div class="row">
  <div class="col s12  l3"></div>
  <div class="col s12 l6 ">
    <section class="objective eventArea">
      <h4 class="white-text shadow text-darken-4">Your Events!</h4>
      <button id="createEvent" data-target="modal1" class="btn modal-trigger">Create Event</button>
    </section>
  </div>
</div>
<div class="row">
  <div class="col s12  l3"></div>
  <div class="col s12 l6 offset-3">
    <section class="tasks">
      <h4 class="white-text shadow text-darken-4">Event Tasks <i class="fas fa-tasks"></i></h4>
      <p>Organize the big day by listing out your tasks. </p>
  </div>
</div>

<div class="row">
  <div class="col s10 m2 l3 "> </div>
  <div class="col s10 m5 l3 offset">
    <h4 class="center">Open Tasks</h4>
    <hr>
    <div>
      <ul id="items">
        {{#each tasks}}
        {{#unless taskStatus}}
        {{taskName}}
        <button id="completedTask" class="completed">Completed </button>
        <button class=".delTask ">Delete </button>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    </section>
  </div>
  <div class="col s10 m5 l3 ">
    <div class="entry">
      <h4 class="center">Closed Tasks</h4>
      <hr>
      <ul id="items2">
        {{#each tasks}}
        {{#if taskStatus}}
        {{taskName}}
        {{/if}}
        <button class=".reopen">Reopen</button>
        <button class=".delTask">Delete </button>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l3 "></div>
  <div class="col s12 l7">
    <button id="createTask" class="btn ">Create Task</button>
    <div id="taskForm">
      <div class="col s12 m10 offset-m1">
        <div class="row">
          <h4>Add a new Task</h4>
          <div class="input-field col s10">
            <input placeholder="Task Name" id="newTaskName" type="text" class="validate">
            <label for="newTaskName">Description of Task</label>
          </div>
          <div class="input-field col s10">
            <input placeholder="Not Important, Important, Urgent" id="newTaskImportance" type="text" class="validate">
            <label for="newTaskImportance">Task Importance: </label> <br>
          </div>
          <button id="submitNewTask" class="btn ">Submit Task</button>
        </div>
      </div>
      </section>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m6 offset-m6 l4 offset-l2">
  </div>
</div>


<div id="modal1" class="modal">
  <div class="modal-content">


    <form id="createEventForm">
      <div class="row">
        <h2 class="center">Event Details</h2>
        <div class="input-field col s12">
          <input disabled-value="Text" id="eventName" type="text" class="validate eventInput" required>
          <label for="disabled">Name of Event</label>
        </div>

      </div>


      <div class="row">

        <label for="disabled">Date of Event</label>
        <input type="text" class="datepicker eventInput" id="eventDate" class="validate" required>

      </div>


      <div class="row">

        <div class="input-field col s12">
          <select value="empty" id="eventType" required class="eventSelect">
            <option disabled selected>Select the Event</option>
            <option value="Birthday">Birthday</option>
            <option value="Anniversary">Anniversary</option>
            <option value="Work Party">Work Party</option>
          </select>
          <label>Event Type</label>
        </div>

      </div>


      <div class="row">

        <div class="input-field col s12">
          <input disabled-value="Number" id="attendees" type="number" class="validate eventInput" required>
          <label for="disabled">Number of Attendees</label>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s12">
          <select value="empty" id="timeOfDay" class="eventSelect">
            <option disabled selected>Time of Day</option>
            <option value="Brunch/Breakfast">Brunch/Breakfast</option>
            <option value="Day Time">Day Time</option>
            <option value="Night Time">Night Time</option>
            <option value="After Hours">After Hours</option>
          </select>
          <label>When time does the party begin?</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select value="empty" id="dress" class="eventSelect">
            <option disabled selected>Attire Type</option>
            <option value="Casual">Casual</option>
            <option value="Semi-Formal">Semi-Formal</option>
            <option value="Formal">Formal</option>
            <option value="Costume/Themed">Costume/Themed</option>
          </select>
          <label>Dress/Clothing Type</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <select value="empty" id="themed" class="eventSelect">
            <option disabled selected>Is this a themed party?</option>
            <option value=false>No</option>
            <option value=true>Yes</option>
          </select>
          <label>Themed - Yes/No</label>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s12">
          <select value="empty" id="food" class="eventSelect">
            <option disabled selected>Do you require food?</option>
            <option value=false>No</option>
            <option value=true>Yes</option>
          </select>
          <label>Food Required? - Yes/No</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select value="empty" id="decorations" class="eventSelect">
            <option disabled selected>Do you require decorations?</option>
            <option value=false>No</option>
            <option value=true>Yes</option>
          </select>
          <label>Decorations? - Yes/No</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select value="empty" id="cake" class="eventSelect">
            <option disabled selected>Do you need cake/dessert?</option>
            <option value=false>No</option>
            <option value=true>Yes</option>
          </select>
          <label>Cake/Dessert? - Yes/No</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select value="empty" id="alcohol" class="eventSelect">
            <option disabled selected>Do you need alcohol?</option>
            <option value=false>No</option>
            <option value=true>Yes</option>
          </select>
          <label>Alochol? - Yes/No</label>
        </div>

      </div>

      <a id="submitSurvey" class="modal-close waves-effect waves-green btn-flat">Submit</a>

    </form>
  </div>
</div>


<script>
  
var el = document.getElementById('items');
var el2 = document.getElementById('items2');

new Sortable(el, {
   group: 'shared', // set both lists to same group
   animation: 150
});

new Sortable(el2, {
   group: 'shared',
   animation: 150
});



  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  }
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
  }


</script>