<img class="signin-bg" src="/assets/images/light-veneer.png" alt="Sign in/register pages background image">

{{!-- html for nav and sidenav areas --}}
<nav id="topNav">
  <div class="nav-wrapper black">
    <div id="mySidenav" class="eventSidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <div id="userPhoto center">
        <img id="koala" class="responsive-img" src="/assets/images/koala.png" alt="cute koala">
      </div>
      <p class="center">You're logged in ✔️</p>
      <div id="sideNavBtns" class="col s12 center">

        <a class="waves-effect waves-light btn teal lighten-2 hvr-icon-pulse hvr-grow" href="#"
          id="viewCurrentEvents"><i class="material-icons right hvr-icon">assignment_late</i>Current Events</a>
        <a class="waves-effect waves-light btn teal lighten-2 hvr-icon-pulse hvr-grow" href="#" id="viewPastEvents"><i
            class="material-icons right hvr-icon">find_replace</i>Past Events</a>
        <a class="modal-trigger waves-effect waves-light btn teal lighten-2 hvr-icon-pulse hvr-grow" href="#modal1"><i
            class="material-icons right hvr-icon">plus_one</i>Create Event</a>
        <a class="modal-trigger waves-effect waves-light btn teal lighten-2 hvr-icon-pulse hvr-grow" href="#modal2"><i
            class="material-icons right hvr-icon">check_circle_outline</i>Add Task</a>

        <a class="tap-trigger waves-effect waves-light btn teal lighten-2 hvr-icon-pulse hvr-grow" onclick="$('.tap-target').tapTarget('open')"><i class="material-icons right hvr-icon">info</i>Help</a>

      </div>
    </div>

    <span class="" id="menu" style="cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <img class="logo-image brand-logo center shadow" src="/assets/images/evenpro-logo-pilled.png"
      alt="EventPRO logo image">

    <a href="/logout" id="logout" class="right">Log out</a>
  </div>
</nav>

<div class="row">
  <div class="col s12 m6 offset-m6 l4 offset-l2">
  </div>
</div>

<div class="row">
  <div class="col s12  l3"></div>
  <div class="col s12 l6 ">
    <section class="objective eventArea center">
      <h4 class="black-text text-darken-4 center flow-text">What are we planning for today?</h4>

      <button id="createEvent" data-target="modal1"
        class="btn waves-effect waves-light modal-trigger teal lighten-2 hvr-icon-pulse hvr-grow"><i
          class="material-icons left hvr-icon">add</i>Create Event</button>

    </section>
  </div>
</div>

<section id="eventTaskDisplayArea">
  <div class="row">
    <div class="col s12  l3"></div>
    <div class="col s12 l6 offset-3">
      <section class="tasks">
        <h4 class="black-text text-darken-4 center-align flow-text"><i
            class="fas fa-tasks"></i> Organize tasks and start planning for the big day!</h4>
    </div>
  </div>

  <div class="row">
    <div class="col s10 m2 l3 "> </div>
    <div class="col s10 m5 l3 offset">
      <h4 class="center">To-Do:</h4>
      <hr>
      <div class="openTasks">
        <ul id="items" class="center-align">
        </ul>
      </div>

    </div>
    <div class="col s10 m5 l3 ">
      <div class="entry closedTasks">
        <h4 class="center">Completed:</h4>
        <hr>
        <ul id="items2" class="center-align">
        </ul>
      </div>
    </div>
  </div>

</section>

<div class="fixed-action-btn direction-top logoBtn">
  <img id="logoBtn" src="/assets/images/mstile-150x150.png">
  <a id="information" class="btn-floating btn waves-effect waves-light cyan accent-2 black-text">&times;</a>
</div>

<!-- Tap Target for getting started info -->
  <div class="tap-target black" data-target="information">
    <div class="tap-target-content white-text">
      <h5 class="center" style="padding-left:35%; padding-top: 10%">Getting started:</h5>
      <p style="padding-left:25%">• Click "create event" and enter details to start planning</p>
      <p style="padding-left:12%; padding-top: 5%">• Add new to-do's with the "add task" button, and drag them around for prioritizing, or drag them to the completed side once they're all finished!</p>
      <p style="max-width:320px; padding-top: 5%">• Click the blue icons next to your event info to get the location of stores near you that can help you make this event something to remember</p>
    </div>
  </div>

{{!-- form for adding a new task for a particular event --}}
<div id="modal2" class="modal">
  <div class="modal-content">
    <form id="taskForm">
      <div class="row">
        <h2 class="center blackUnderline">Add a new <span class="teal-text text-lighten-2 blackUnderline">Task</span> <i
            id="taskIcon" class="fas fa-tasks fa-sm"></i></h2>

        <div class="input-field col s12">
          <input placeholder="Task Name" id="newTaskName" type="text" class="validate">
          <label for="newTaskName">Description: <i class="red-text text-darken-4">*required</i></label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Not Important, Important, Urgent" id="newTaskImportance" type="text" class="validate">
          <label for="newTaskImportance">Task Importance: <i class="red-text text-darken-4">*required</i></label> <br>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select value="empty" id="eventNameTask" required>
            <option disabled selected>Task for Which Event?</option>
          </select>
          <label for="eventNameTask">Which event is this task for? <i
              class="red-text text-darken-4">*required</i></label> <br>
        </div>
      </div>

      <button id="submitNewTask" class="btn waves-effect waves-light btn teal lighten-2 center-align">Submit Task</button>
    </form>
  </div>
</div>

{{!-- modal form for gathering info about an event before adding to database --}}
<div id="modal1" class="modal surveyForm">
  <div class="modal-content">
    <div id="surveyBorder">
      <form id="createEventForm">
        <div class="row">
          <h2 class="center blackUnderline">Event <span class="teal-text text-lighten-2 blackUnderline">Details</span><i
              id="pencilIcon" class="fas fa-pencil-alt fa-xs"></i></h2>
          <div class="input-field col s12">
            <input placeholder="Tommy's 2nd Birthday" id="eventName" type="text" class="validate eventInput" required>
            <label for="eventName">Name of Event <i class="red-text text-darken-4">*required</i></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="May 4, 2019" type="text" class="datepicker eventInput" id="eventDate"
              class="validate eventInput" required>
            <label for="eventDate">Date of Event <i class="red-text text-darken-4">*required</i></label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select value="empty" id="eventType" required class="eventSelect">
              <option disabled selected>Select the Event Type</option>
              <option value="Birthday">Birthday Party</option>
              <option value="Anniversary">Anniversary</option>
              <option value="Work Party">Work Party</option>
              <option value="Meetup">Meetup</option>
              <option value="Wedding">Wedding</option>
              <option value="Other">Other</option>
            </select>
            <label for="eventType">What type of event will it be? <i
                class="red-text text-darken-4">*required</i></label>
          </div>

        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="20" id="attendees" type="number" min="1" class="validate eventInput" required>
            <label for="attendees">Number of Attendees <i class="red-text text-darken-4">*required</i></label>
          </div>

        </div>

        <div class="row">
          <div class="input-field col s12">
            <select value="empty" id="timeOfDay" class="validate eventSelect" required>
              <option disabled selected>Time of Day</option>
              <option value="Brunch/Breakfast">Brunch/Breakfast</option>
              <option value="Day Time">Day Time</option>
              <option value="Night Time">Night Time</option>
              <option value="After Hours">After Hours</option>
            </select>
            <label for="timeOfDay">What time does the party begin?<i
                class="red-text text-darken-4">*required</i></label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select value="empty" id="dress" class="eventSelect">
              <option disabled selected>Attire:</option>
              <option value="Casual">Casual</option>
              <option value="Semi-Formal">Semi-Formal</option>
              <option value="Formal">Formal</option>
              <option value="Costume/Themed">Costume/Themed</option>
            </select>
            <label for="dress">Dress Code</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select value="empty" id="themed" class="eventSelect">
              <option disabled selected>Themed?</option>
              <option value=false>No</option>
              <option value=true>Yes</option>
            </select>
            <label for="themed">Is this a themed event? - Yes/No</label>
          </div>

        </div>

        <div class="row">
          <div class="input-field col s12">
            <select value="empty" id="food" class="eventSelect">
              <option disabled selected>Food?</option>
              <option value=false>No</option>
              <option value=true>Yes</option>
            </select>
            <label for="food">Will food be served at this event? - Yes/No</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select value="empty" id="decorations" class="eventSelect">
              <option disabled selected>Decorations?</option>
              <option value=false>No</option>
              <option value=true>Yes</option>
            </select>
            <label for="decorations">Will you be decorating? - Yes/No</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select value="empty" id="cake" class="eventSelect">
              <option disabled selected>Cake/Dessert?</option>
              <option value=false>No</option>
              <option value=true>Yes</option>
            </select>
            <label for="cake">Will you need cake/dessert? - Yes/No</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select value="empty" id="alcohol" class="eventSelect">
              <option disabled selected>Alcohol?</option>
              <option value=false>No</option>
              <option value=true>Yes</option>
            </select>
            <label for="alcohol">Will you be serving alcoholic beverages? - Yes/No</label>
          </div>
        </div>
        <a id="submitSurvey" class="waves-effect waves-teal btn lighten-2"> <i
            class="center material-icons right center-align">send</i>Submit</a>
      </form>
    </div>
  </div>
</div>


<script>

  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  };

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  };

  /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  };

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
  };

</script>