<nav>
  <div class="nav-wrapper  teal darken-4">
    <div id="mySidenav" class="eventSidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <img id="koala"
        src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA5OS83MTYvb3JpZ2luYWwva29hbGFzLXdpdGgtY2hsYW15ZGlhLmpwZw==">
      <p class="center">You have been logged in!</p>
      <a href="#">Current Event</a>
      <a href="#">Past Events</a>
      <a class="modal-trigger" href="#modal1">Create Event</a>
      <a href="#">Team</a>
    </div>

    <span class="shadow" id="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
    <a href="#" class="brand-logo center shadow">Event Pro</a>
    <a href="#" id="logout" class="right shadow">Log out</a>
  </div>
</nav>

<div class="row">
  <div class="col s12 m6 offset-m6 l4 offset-l2">
  </div>
</div>

<div class="row">
  <div class="col s12  l3"></div>
  <div class="col s12 l6 ">
    <section class="objective">
      <h4 class="white-text shadow text-darken-4">Your Events!</h4>
      <button id="viewEvents" data-target="" class="btn ">View Ongoing Events</button>
      <button id="viewPastEvents" data-target="" class="btn ">View Past Events</button>
      <button id="createEvent" data-target="modal1" class="btn modal-trigger">Create Event</button>
    </section>
  </div>
</div>
<div class="row">
   <div class="col s12  l3"></div>
  <div class="col s12 l6 offset-3">
    <section class="tasks">
      <h4 class="white-text shadow text-darken-4">Event Tasks <i class="fas fa-tasks"></i></h4>
      <p>Organize the big day by listing out your tasks. </p>
  </div>
</div>

<div class="row">
  <div class="col s10 m2 l3 "> </div>
  <div class="col s10 m5 l3 offset">
    <h4 class="center">Open Tasks</h4>
    <hr>
    <div>
      <ul>
        {{#each tasks}}
        {{#unless complete}}
        {{taskName}}
        {{/unless}}
        <button id="completedTask" class="completed">Completed </button>
        <button class=".delTask ">Delete </button>
        {{/each}}
      </ul>
    </div>
    </section>
  </div>
  <div class="col s10 m5 l3 ">
    <div class="entry">
      <h4 class="center">Closed Tasks</h4>
      <hr>
      <ul>
        {{#each tasks}}
        {{#if complete}}
        {{taskName}}
        {{/if}}
        <button class=".reopen">Reopen</button>
        <button class=".delTask">Delete </button>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l3 "></div>
  <div class="col s12 l6 ">
    <button id="createTask" class="btn ">Create Task</button>
    <div id="taskForm">
      <form class="col s12">
        <div class="row">

          <p>Add a new Task</p>
          <div class="input-field col s6">
            <input placeholder="Task Name" id="newTask" type="text" class="validate">
            <label for="task_name">Task Name</label>
          </div>
          <button id="submitNewTask" class="btn ">Submit Task</button>

      </form>
    </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col s12 m6 offset-m6 l4 offset-l2">
  </div>
</div>

<container>



  <i class="fas fa-birthday-cake"></i>
</container>


<div id="modal1" class="modal">
  <div class="modal-content">



    <div class="row">
      <form class="col s12">
        <div class="input-field col s12">
          <input disabled-value="Text" id="eventName" type="text" class="validate">
          <label for="disabled">Name of Event</label>
        </div>
      </form>
    </div>


    <div class="row">
      <form class="col s12">
        <label for="disabled">Date of Event</label>
        <input type="text" class="datepicker" id="eventDate">
      </form>
    </div>


    <div class="row">

      <div class="input-field col s12">
        <select id="eventType">
          <option value="" disabled selected>Select the Event</option>
          <option value="Birthday">Birthday</option>
          <option value="Anniversary">Anniversary</option>
          <option value="Work Party">Work Party</option>
        </select>
        <label>Event Type</label>
      </div>

    </div>


    <div class="row">
      <form class="col s12">
        <div class="input-field col s12">
          <input disabled-value="Number" id="attendees" type="text" class="validate">
          <label for="disabled">Number of Attendees</label>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select id="timeOfDay">
          <option value="" disabled selected>Time of Day</option>
          <option value="Brunch/Breakfast">Brunch/Breakfast</option>
          <option value="Day Time">Day Time</option>
          <option value="Night Time">Night Time</option>
          <option value="After Hours">After Hours</option>
        </select>
        <label>When time does the party begin?</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select id="dress">
          <option value="" disabled selected>Attire Type</option>
          <option value="Casual">Casual</option>
          <option value="Semi-Formal">Semi-Formal</option>
          <option value="Formal">Formal</option>
          <option value="Costume/Themed">Costume/Themed</option>
        </select>
        <label>Dress/Clothing Type</label>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <select id="themed">
          <option value="" disabled selected>Is this a themed party?</option>
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
        <label>Themed - Yes/No</label>
      </div>

    </div>

    <div class="row">
      <div class="input-field col s12">
        <select id="food">
          <option value="" disabled selected>Do you require food?</option>
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
        <label>Food Required? - Yes/No</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select id="decorations">
          <option value="" disabled selected>Do you require decorations?</option>
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
        <label>Decorations? - Yes/No</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select id="cake">
          <option value="" disabled selected>Do you need cake/dessert?</option>
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
        <label>Cake/Dessert? - Yes/No</label>
      </div>
    </div>



    <div class="row">
       <div class="input-field col s12">
        <select id="alochol">
          <option value="" disabled selected>Do you need alcohol?</option>
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
        <label>Alochol? - Yes/No</label>
      </div>

    </div>

    <a id ="submitSurvey" class="waves-effect waves-light btn-large">Submit</a>


  </div>
</div>


<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  }
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
  }


</script>