<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        {{!-- Question 1 --}}
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="Text" id="event-name" type="text" class="validate">
                <label for="disabled">Name of Event</label>
            </div>
            </div>
            {{!-- Question 2 --}}
            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Select the Event</option>
                    <option value="1">Birthday</option>
                    <option value="2">Anniversary</option>
                    <option value="3">Work Party</option>
                    <option value="4">Baby Shower</option>
                    <option value="4">Show/Sport Watch Party</option>
                    <option value="5">Miscellaneous Party</option>
                </select>
                <label>Event Type</label>
            </div>

            {{!-- Question 3 --}}
            <div class="row">
                <div class="input-field col s12">
                    <input disabled value="Number" id="number-attendees" type="text" class="validate">
                    <label for="disabled">Number of Attendees</label>
                </div>
                </div>

                {{!-- Question 4 --}}
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Time of Day</option>
                        <option value="1">Brunch/Breakfast</option>
                        <option value="2">Day Time</option>
                        <option value="3">Night Time</option>
                        <option value="4">After Hours</option>
                        <option value="5">Miscellaneous Party</option>
                    </select>
                    <label>When does the party begin?</label>
                </div>

                {{!-- Question 5 --}}

                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Attire Type</option>
                        <option value="1">Casual</option>
                        <option value="2">Semi-Formal</option>
                        <option value="3">Formal</option>
                        <option value="4">Costume/Themed</option>
                    </select>
                    <label>Dress/Clothing Type</label>
                </div>

                {{!-- Question 6 --}}

                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Yes/No</option>
                        <option value="1">No</option>
                        <option value="2">Yes</option>
                    </select>
                    <label>Themed Party</label>
                </div>


                {{!-- Question 7 --}}

                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Yes/No</option>
                        <option value="1">No</option>
                        <option value="2">Yes</option>
                    </select>
                    <label>Do you require food?</label>
                </div>


                {{!-- Question 8 --}}

                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Yes/No</option>
                        <option value="1">No</option>
                        <option value="2">Yes</option>
                    </select>
                    <label>Decorations?</label>
                </div>

                {{!-- Question 9 --}}
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Yes/No</option>
                        <option value="1">No</option>
                        <option value="2">Yes</option>
                    </select>
                    <label>Cake/Dessert?</label>
                </div>

                {{!-- Question 10 --}}
                <form action="#">
                    <label>Alcohol/Beverages (Select All That Apply)</label>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Beer</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Wine</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Tequila</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Rum</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Vodka</span>
                        </label>
                    </p>
                    <div class="input-field col s12">
                        <input disabled value="beverage1" id="number-attendees" type="text" class="validate">
                        <label for="disabled">Other #1</label>
                    </div>
                    <div class="input-field col s12">
                        <input disabled value="beverage2" id="number-attendees" type="text" class="validate">
                        <label for="disabled">Other #2</label>
                    </div>
                    <div class="input-field col s12">
                        <input disabled value="beverage3" id="number-attendees" type="text" class="validate">
                        <label for="disabled">Other #3</label>
                    </div>
                    <div class="input-field col s12">
                        <input disabled value="beverage4" id="number-attendees" type="text" class="validate">
                        <label for="disabled">Other #5</label>
                    </div>
                    <div class="input-field col s12">
                        <input disabled value="beverage5" id="number-attendees" type="text" class="validate">
                        <label for="disabled">Other #5</label>
                    </div>
                </form>



            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>