<img class="signin-bg" src="/assets/images/light-veneer.png" alt="Sign in/register pages background image">

<div class="center-align logo-div">
    <img class="logo-image" src="/assets/images/event-pro-3-logo.png" alt="EventPRO logo image">
</div>    

<div class="valign-wrapper row signup-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4 register-card">
        <form id="register" name="register" method="post" action="/register">
            <div class="card-content">
                <span class="card-title center">Sign Up</span>

                <div class="row">

                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="username" name="username" type="text" class="validate" required/>
                    <label for="username" class="center-align">Username</label>
                </div>  
                
                <div class="input-field col s12">
                    <i class="material-icons prefix">mail</i>
                    <input id="useremail" type="email" class="validate" required/>
                    <label for="useremail" class="center-align">Email</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="userpassword" name="userpassword" type="password" class="validate" minlength="7" required/>
                    <label for="userpassword">Password</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="confirmpassword" type="password" minlength="7" required/>
                    <label for="confirmpassword">Confirm password</label>
                </div>

                </div>
            </div>

            <div class="card-action center-align">
                <div class="input-field col s12 center-align">
                    <button type="submit" class="btn waves-effect waves-light teal lighten-2 col s12 center">Start Planning</button>
                </div>
                
                <div class="input-field col s12 center-align">
                    <p class="margin center medium-small sign-up">Already have an account? <a href="/signin">Log in</a></p>
                </div>               
            </div>
        </form>
    </div>
</div>
