/* ================================== THOR ==================================================== */

/* label focus color for forms and icons*/
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #00B8A4 !important;
   }

.input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #00B8A4 !important;
}

.input-field input[type=password]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #00B8A4 !important;
}

.input-field > i:hover {
    color: #00B8A4 !important;
}

.input-field .prefix.active {
    color: #00B8A4 !important;  
}

/* label underline focus color for forms */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00B8A4 !important;
    box-shadow: 0 1px 0 0 #00B8A4 !important;
}

.input-field input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00B8A4 !important;
    box-shadow: 0 1px 0 0 #00B8A4 !important;
}

.input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00B8A4 !important;
    box-shadow: 0 1px 0 0 #00B8A4 !important;
}


.signin-card, .register-card {
    border-radius: 1.75%;
    background-color: rgba(0,0,0,0.9);
    color: white;
    min-width: 50%;
}

.signin-card input, select, textarea, .register-card input, select, textarea{
    color: white;
}

.logo-div {
    margin-top: 2.75%;
    margin-bottom: 2.75%;
}

.logo-image {
    z-index: 300;
    top: -45px;
    width: 210px;
}

/* background image for sign-in/register pages */
img.signin-bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

li {
  display: inline-block;
  background: url(../images/sticky-note.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* min-width: 100px; */
  max-width: 200px;
  color: black;
  padding: 10px;
  margin: 10px;
}

  @media screen and (max-width: 1024px) {
    img.signin-bg {
      left: 50%;
      margin-left: -512px;  
    }
  }

#toastDiv{
  width: 100vw;
  position: absolute;
  top: 16%;
} 

@media only screen and (max-width:640px) {
  #toastDiv{
    top: 8%;
  }
}

@media only screen and (max-width:380px) {
  #toastDiv{
    top: 6%;
  }
}

#sideNavBtns > a > i{
  position: relative;
  top: -13px;
  left: 5px;
}

#topNav {
  height: 70px;
}

.surveyAnswerDisplay p {
  padding: 12px;
}

/* Icon Pulse */
@-webkit-keyframes hvr-icon-pulse {
  25% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes hvr-icon-pulse {
  25% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
.hvr-icon-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-pulse .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-pulse:hover .hvr-icon, .hvr-icon-pulse:focus .hvr-icon, .hvr-icon-pulse:active .hvr-icon {
  -webkit-animation-name: hvr-icon-pulse;
  animation-name: hvr-icon-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* ================================== THOR ==================================================== */

/* ================================== MELANIE ==================================================== */












/* ================================== MELANIE ==================================================== */


/* ================================== JENNIFER ==================================================== */
    /* styling for side NavBar */
    body {
      font-family: 'Roboto Condensed', sans-serif;
    }

    .shadow {
      text-shadow: 4px 4px black;
    }

    .eventSidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0);
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .eventSidenav a {
      color: #f1f1f1;
      width: 75%;
    }

    .eventSidenav .closebtn {
      position: absolute;
      top: 0;
      left: 150px;
      font-size: 36px;
      margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
      .eventSidenav {
        padding-top: 15px;
      }
    }

    #logout {
      padding-right: 50px;
      font-size: 20px;
    }

    #menu {
      padding-left: 50px;
    }

    #koala {
        /* background: url(https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA5OS83MTYvb3JpZ2luYWwva29hbGFzLXdpdGgtY2hsYW15ZGlhLmpwZw==) 50% 50% no-repeat; */
        /* width: 135px;
        height: 135px; */
        /* border-radius: 50%; */
        /* margin-left: 19%;
        margin-top: 16%; */
        max-width: 105px;
        display: block;
        margin: auto;
        margin-top: 12%;
    }

    #concertGoers {
      width: 100%;
    }

  #modal1 {
    min-height: 80% !important;
  }

  .surveyAnswerDisplay {
    display: inline-block;
    padding: 10px;
  }

/* ================================== JENNIFER ==================================================== */


#modal1 label {
  color: rgb(1, 53, 1);
  margin-bottom: 5px;
}

#modal2 label {
  color: rgb(1, 53, 1);

}

#modal1 .datepicker-modal {
  width: 95%;
}
#modal1 > .modal-content {
  padding:40px;
  border-left: 8px solid #4db6ac;
}
#modal2 > .modal-content {
  border-left: 8px solid #4db6ac;
}

.blackUnderline {
  text-decoration: underline;
  text-decoration-color: black;
}

#pencilIcon, #taskIcon {
  margin-left: 3px;
}

#modal2 > .modal-content {
  padding: 40px;
}

.eventArea > h4 {
  margin-top: 40px;
}

